Node-RED/Proyecto Flujo.json
[{"id":"1c2510af.e09ebf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7ec80727.176378","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"59d45cd0.699d54","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"849dcb74.7ecd48","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"96ed1f39.3adff","type":"mqtt-broker","name":"","broker":"emqx-broker.eastus.cloudapp.azure.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"65756a71.953844","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#14213d","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"New Theme","default":"#4B7930","baseColor":"#3d405b","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#3d405b","edited":true},"page-titlebar-backgroundColor":{"value":"#14213d","edited":true},"page-backgroundColor":{"value":"#e5e5e5","edited":true},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#f9f9fb","edited":true},"group-borderColor":{"value":"#cecece","edited":true},"group-backgroundColor":{"value":"#14213d","edited":true},"widget-textColor":{"value":"#0d0c0c","edited":true},"widget-backgroundColor":{"value":"#3d405b","edited":false},"widget-borderColor":{"value":"#f4f1ed","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ce5d00c7.be013","type":"ui_tab","name":"Tio 9 de octubre","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"917ab757.9318c8","type":"ui_group","name":"Historial de Mediciones","tab":"ce5d00c7.be013","order":2,"disp":true,"width":16,"collapse":false},{"id":"129cef76.9531d1","type":"ui_tab","name":"Todos los locales","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"bbcb1a77.276eb8","type":"ui_group","name":"Local K","tab":"129cef76.9531d1","order":1,"disp":true,"width":"12","collapse":false},{"id":"df6dc672.78cde8","type":"ui_group","name":"Local C","tab":"129cef76.9531d1","order":2,"disp":true,"width":"12","collapse":false},{"id":"24c29a67.603486","type":"mongodb","hostname":"cluster0.w68qc.mongodb.net","topology":"dnscluster","connectOptions":"","port":"27017","db":"co2","name":""},{"id":"71ddd657.490718","type":"ui_spacer","z":"7ec80727.176378","name":"spacer","group":"bbcb1a77.276eb8","order":2,"width":3,"height":1},{"id":"a30e63a9.232c6","type":"ui_spacer","z":"7ec80727.176378","name":"spacer","group":"bbcb1a77.276eb8","order":4,"width":3,"height":1},{"id":"d1629007.9136e","type":"ui_spacer","z":"7ec80727.176378","name":"spacer","group":"df6dc672.78cde8","order":2,"width":3,"height":1},{"id":"78f2a215.c3decc","type":"ui_spacer","z":"7ec80727.176378","name":"spacer","group":"df6dc672.78cde8","order":4,"width":3,"height":1},{"id":"e15a9c16.ba287","type":"ui_tab","name":"Local C","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"186147a5.efe448","type":"ui_group","name":"Measurements History","tab":"e15a9c16.ba287","order":1,"disp":true,"width":"17","collapse":false},{"id":"a1aff8f5.f28978","type":"ui_group","name":"Last Reading","tab":"e15a9c16.ba287","order":2,"disp":true,"width":"6","collapse":false},{"id":"424d2f92.63ce5","type":"ui_group","name":"Back","tab":"e15a9c16.ba287","order":3,"disp":false,"width":"6","collapse":false},{"id":"911a346.5b2abc8","type":"ui_group","name":"Última Medición","tab":"ce5d00c7.be013","order":2,"disp":true,"width":"6","collapse":false},{"id":"1b14ac81.a23193","type":"ui_group","name":"Regresar","tab":"ce5d00c7.be013","order":3,"disp":false,"width":"6","collapse":false},{"id":"625872f.40b1e8c","type":"ui_group","name":"Generar Csv","tab":"ce5d00c7.be013","order":1,"disp":true,"width":"6","collapse":false},{"id":"2bbdd644.dacf6a","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"alertaLocales","tz":"","charset":"UTF8"},{"id":"2f18dfcb.14bb2","type":"ui_group","name":"Generar Csv","tab":"ce5d00c7.be013","order":5,"disp":true,"width":"6","collapse":false},{"id":"b8a221ec.53618","type":"ui_group","name":"Generate Csv","tab":"e15a9c16.ba287","order":4,"disp":false,"width":"6","collapse":false},{"id":"c23a1aea.815248","type":"ui_group","name":"Historial de Alertas","tab":"e15a9c16.ba287","order":5,"disp":true,"width":11,"collapse":false},{"id":"6d21e200.ec807c","type":"ui_group","name":"Registrar Comentario","tab":"e15a9c16.ba287","order":6,"disp":true,"width":10,"collapse":false},{"id":"53cf504.e9555b","type":"ui_group","name":"test","tab":"52aaa596.768b7c","order":1,"disp":true,"width":"12"},{"id":"52aaa596.768b7c","type":"ui_tab","name":"Test","icon":"dashboard"},{"id":"4e5b45cb.163f3c","type":"ui_group","name":"Logo","tab":"68601be2.02e5e4","order":5,"disp":false,"width":"4","collapse":false},{"id":"68601be2.02e5e4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":true},{"id":"1b214600.17935a","type":"ui_group","name":"Default","tab":"b8fb94f4.0d31d8","order":1,"disp":true,"width":"12","collapse":false},{"id":"b8fb94f4.0d31d8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4a93a592.39efec","type":"ui_group","name":"Test Messages","tab":"c4971399.f6246","order":1,"disp":true,"width":"12","collapse":false},{"id":"c4971399.f6246","type":"ui_tab","name":"Demo","icon":"dashboard"},{"id":"3104d6cf.d5ce1a","type":"mqtt in","z":"1c2510af.e09ebf","name":"","topic":"emqtt","qos":"2","datatype":"auto","broker":"96ed1f39.3adff","nl":false,"rap":true,"rh":0,"x":130,"y":120,"wires":[["38efcfb3.80949","a9325846.6cce18"]]},{"id":"38efcfb3.80949","type":"ui_chart","z":"1c2510af.e09ebf","name":"","group":"bbcb1a77.276eb8","order":1,"width":0,"height":0,"label":"Local K","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":380,"y":120,"wires":[[]]},{"id":"ca1c45ed.b52058","type":"ui_button","z":"1c2510af.e09ebf","name":"","group":"bbcb1a77.276eb8","order":3,"width":6,"height":1,"passthru":false,"label":" <a  href=\"http://127.0.0.1:1880/ui/#!/1\"  >Ver local</a>","tooltip":"","color":"","bgcolor":"#fca311","icon":"remove_red_eye","payload":"","payloadType":"str","topic":"","topicType":"str","x":280,"y":60,"wires":[[]]},{"id":"62152590.6f0a5c","type":"comment","z":"1c2510af.e09ebf","name":"Todos los Locales","info":"","x":210,"y":20,"wires":[]},{"id":"e21a375c.7e3108","type":"mqtt in","z":"1c2510af.e09ebf","name":"","topic":"co2_topic","qos":"2","datatype":"auto","broker":"96ed1f39.3adff","nl":false,"rap":true,"rh":0,"x":100,"y":280,"wires":[["4ef92f54.5a5fc","3ca0a7e6.dfe3f8"]]},{"id":"4ef92f54.5a5fc","type":"ui_chart","z":"1c2510af.e09ebf","name":"","group":"df6dc672.78cde8","order":1,"width":0,"height":0,"label":"Local C","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e2bc6a","#aec7e8","#ff7f0e","#2ca02c","#a6d89c","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":380,"y":280,"wires":[[]]},{"id":"3a3c792e.843206","type":"ui_button","z":"1c2510af.e09ebf","name":"","group":"df6dc672.78cde8","order":3,"width":6,"height":1,"passthru":false,"label":" <a  href=\"http://127.0.0.1:1880/ui/#!/2\"  >Ver local</a>","tooltip":"","color":"","bgcolor":"#fca311","icon":"remove_red_eye","payload":"","payloadType":"str","topic":"","topicType":"str","x":260,"y":220,"wires":[[]]},{"id":"c7bb1397.1ee59","type":"mqtt in","z":"7ec80727.176378","name":"","topic":"co2_topic","qos":"2","datatype":"auto","broker":"96ed1f39.3adff","nl":false,"rap":true,"rh":0,"x":80,"y":160,"wires":[["53d42abd.0790f4","f2145406.c3f2a8"]]},{"id":"f2145406.c3f2a8","type":"ui_chart","z":"7ec80727.176378","name":"","group":"917ab757.9318c8","order":1,"width":0,"height":0,"label":"Tío 9 de octubre","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":220,"y":60,"wires":[[]]},{"id":"5889adc8.50c2c4","type":"comment","z":"7ec80727.176378","name":"Tía 9 de Octubre","info":"","x":280,"y":20,"wires":[]},{"id":"232fbd94.57e132","type":"mqtt in","z":"59d45cd0.699d54","name":"","topic":"co2_topic","qos":"2","datatype":"auto","broker":"96ed1f39.3adff","nl":false,"rap":true,"rh":0,"x":280,"y":280,"wires":[["bf6b645e.45aff8","d683ca72.c096a8"]]},{"id":"bf6b645e.45aff8","type":"ui_chart","z":"59d45cd0.699d54","name":"","group":"186147a5.efe448","order":1,"width":17,"height":9,"label":"Local C","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":450,"y":200,"wires":[[]]},{"id":"e7a7dd31.d968a","type":"comment","z":"59d45cd0.699d54","name":"Tía San Marino","info":"","x":380,"y":120,"wires":[]},{"id":"cc0a885.29ba878","type":"ui_button","z":"7ec80727.176378","name":"","group":"1b14ac81.a23193","order":1,"width":6,"height":1,"passthru":false,"label":" <a  href=\"http://localhost:1880/ui/#!/0\" >Back</a>","tooltip":"","color":"","bgcolor":"#fca311","icon":"remove_red_eye","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":440,"wires":[[]]},{"id":"79219a4d.4413b4","type":"ui_button","z":"59d45cd0.699d54","name":"","group":"424d2f92.63ce5","order":1,"width":6,"height":1,"passthru":false,"label":" <a  href=\"http://localhost:1880/ui/#!/0\"  target= \"_parent\">Regresar</a>","tooltip":"","color":"","bgcolor":"#fca311","icon":"remove_red_eye","payload":"","payloadType":"str","topic":"","topicType":"str","x":430,"y":420,"wires":[[]]},{"id":"d683ca72.c096a8","type":"ui_text","z":"59d45cd0.699d54","group":"a1aff8f5.f28978","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":500,"y":280,"wires":[]},{"id":"53d42abd.0790f4","type":"ui_text","z":"7ec80727.176378","group":"911a346.5b2abc8","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":170,"y":240,"wires":[]},{"id":"6a003e2b.355e9","type":"function","z":"7ec80727.176378","name":"","func":"let tiempoTranscurrido = Date.now();\nlet hoy = new Date(tiempoTranscurrido);\nlet date = new Date();\nlet minutes = date.getMinutes();\nlet hour = date.getHours();\nlet co2 = parseInt(msg.payload);\n\nlet fecha = hoy.toLocaleDateString()\nlet hora  = String(`${hour}:${minutes}`)\nif (co2>=1200){\n    msg.topic = \"INSERT INTO alertas (id_empresa,fecha,hora,valor_co2) VALUES(\"+1+\",'\"+fecha+\"','\"+hora+\"','\"+co2+\"')\";\n    msg.sendmail  = true\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["e615cc39.d0887","3580974c.bf5c38","e5160f54.5e576"]]},{"id":"f34fb66c.3a4eb8","type":"ui_table","z":"7ec80727.176378","group":"c23a1aea.815248","name":"Historial de Alerta","order":1,"width":11,"height":"9","columns":[{"field":"fecha","title":"Fecha","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"hora","title":"Hora","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"valor_co2","title":"CO2","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"comentario","title":"Comentario","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":970,"y":80,"wires":[]},{"id":"e615cc39.d0887","type":"mysql","z":"7ec80727.176378","mydb":"2bbdd644.dacf6a","name":"","x":850,"y":160,"wires":[["e630b075.d5603"]]},{"id":"3580974c.bf5c38","type":"function","z":"7ec80727.176378","name":"","func":"if(msg.payload.length >0){\n    msg.topic = \"SELECT * FROM alertas ORDER BY id_alerta DESC\"\n    msg.leer = true\n    return msg;\n}\n\nif(msg.state){\n    msg.topic = \"SELECT * FROM alertas ORDER BY id_alerta DESC\"\n    msg.leer = true\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":220,"wires":[["e615cc39.d0887"]]},{"id":"b1f7c948.5ed5b8","type":"debug","z":"7ec80727.176378","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":620,"wires":[]},{"id":"b37451bf.1de6d","type":"json-2-csv","z":"7ec80727.176378","name":"CSV","x":570,"y":640,"wires":[["4f15dc0e.75d814"]]},{"id":"d3ddce33.70174","type":"mysql","z":"7ec80727.176378","mydb":"2bbdd644.dacf6a","name":"","x":410,"y":640,"wires":[["b37451bf.1de6d"]]},{"id":"7871bf31.d2ca2","type":"function","z":"7ec80727.176378","name":"","func":"if(msg.payload){\n    msg.topic = \"SELECT * FROM alertas ORDER BY id_alerta DESC\"\n    msg.leer = true\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":640,"wires":[["d3ddce33.70174"]]},{"id":"91c6a64c.72ee38","type":"ui_button","z":"7ec80727.176378","name":"","group":"b8a221ec.53618","order":1,"width":0,"height":0,"passthru":false,"label":"Generate CSV","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":80,"y":640,"wires":[["7871bf31.d2ca2"]]},{"id":"4683170.cc182e8","type":"file","z":"7ec80727.176378","name":"Generar CSV","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":980,"y":640,"wires":[["b1f7c948.5ed5b8"]]},{"id":"4f15dc0e.75d814","type":"function","z":"7ec80727.176378","name":"","func":"let date = new Date();\nlet seconds = date.getSeconds();\nlet minutes = date.getMinutes();\nlet hour = date.getHours();\nlet day = date.getDay();\nlet month = date.getMonth();\nlet year = date.getFullYear();\nlet co2 = parseInt(msg.payload);\n\nlet fecha = String(`${year}-${month}-${day}`);\nlet hora  = String(`${hour}-${minutes}`)\n\nlet file = \"D:/Hoy/alertas\"+ fecha+\" \"+hora +\".csv\"\nmsg.filename = file\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":640,"wires":[["4683170.cc182e8"]]},{"id":"c0783a8e.8f04c8","type":"ui_form","z":"7ec80727.176378","name":"","label":"Registro de comentario","group":"6d21e200.ec807c","order":1,"width":10,"height":1,"options":[{"label":"Fecha","value":"fecha","type":"date","required":true,"rows":null},{"label":"Hora","value":"hora","type":"time","required":true,"rows":null},{"label":"Comentario","value":"comentario","type":"multiline","required":true,"rows":5}],"formValue":{"fecha":"","hora":"","comentario":""},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":130,"y":360,"wires":[["41f66aad.4082a4"]]},{"id":"a5b65763.599a38","type":"debug","z":"7ec80727.176378","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":560,"wires":[]},{"id":"38b2c1c.d31753e","type":"mysql","z":"7ec80727.176378","mydb":"2bbdd644.dacf6a","name":"","x":530,"y":360,"wires":[["7d190785.775078"]]},{"id":"41f66aad.4082a4","type":"function","z":"7ec80727.176378","name":"","func":"\nlet time = new Date(Date.parse(msg.payload.hora)).toLocaleTimeString();\nlet formaTime = time.split(':')[0] + \":\" + time.split(':')[1];\n\nlet jsonDate = Date.parse(msg.payload.fecha);\nlet date = new Date(jsonDate).toLocaleDateString();\n\nlet comentario = msg.payload.comentario;\nmsg.payload = {time,date}\n\nmsg.topic = `\nSELECT * FROM alertas  where fecha ='${date}' and hora = '${formaTime}' order by id_alerta desc limit 1 \n`;\n\nmsg.payload = msg.payload.id_alerta;\nmsg.leer = comentario;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":360,"wires":[["38b2c1c.d31753e"]]},{"id":"7d190785.775078","type":"function","z":"7ec80727.176378","name":"","func":"let id = msg.payload[0].id_alerta\nmsg.topic = `\nUPDATE alertas SET comentario = '${msg.leer}' WHERE id_alerta=${id}\n`\nmsg.state = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":360,"wires":[["a84d143.98f1fe8"]]},{"id":"a84d143.98f1fe8","type":"mysql","z":"7ec80727.176378","mydb":"2bbdd644.dacf6a","name":"","x":870,"y":360,"wires":[["3580974c.bf5c38"]]},{"id":"6c98d84.56bfa28","type":"ui_button","z":"7ec80727.176378","name":"","group":"c23a1aea.815248","order":1,"width":0,"height":0,"passthru":false,"label":"Refrescar","tooltip":"","color":"","bgcolor":"","icon":"autorenew","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":340,"y":260,"wires":[["3580974c.bf5c38"]]},{"id":"1317373b.e8ac89","type":"function","z":"1c2510af.e09ebf","name":"","func":"\n    msg.topic = \"SELECT id_alerta FROM alertas where comentario is null\"\n    msg.leer = true\n    return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":420,"wires":[["59add20f.230a3c"]]},{"id":"e630b075.d5603","type":"switch","z":"7ec80727.176378","name":"","property":"leer","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":40,"wires":[["f34fb66c.3a4eb8"]]},{"id":"5dc503c2.77feac","type":"switch","z":"1c2510af.e09ebf","name":"","property":"leer","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":420,"wires":[["e57af0ab.7d90e"]]},{"id":"59add20f.230a3c","type":"mysql","z":"1c2510af.e09ebf","mydb":"2bbdd644.dacf6a","name":"","x":430,"y":420,"wires":[["5dc503c2.77feac"]]},{"id":"e57af0ab.7d90e","type":"function","z":"1c2510af.e09ebf","name":"","func":"let count = msg.payload;\nmsg.payload = count.length\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":420,"wires":[["22ba7ff7.c2e76"]]},{"id":"22ba7ff7.c2e76","type":"ui_text","z":"1c2510af.e09ebf","group":"df6dc672.78cde8","order":5,"width":0,"height":0,"name":"","label":"Numero de alertas sin revisar","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":380,"wires":[]},{"id":"93343eb5.107eb","type":"debug","z":"1c2510af.e09ebf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":480,"wires":[]},{"id":"e5160f54.5e576","type":"function","z":"7ec80727.176378","name":"","func":"if (msg.sendmail){\n    msg.to = \"doddy1997@hotmail.com\";\n    msg.from = \"doddyjoel@gmail.com\";\n    msg.topic = \"High Temperature Alarm\";\n    message=\" High Temperature Alarm temp= \";    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":500,"wires":[["9992c044.e3377"]]},{"id":"d2b4f17.88b211","type":"e-mail","z":"7ec80727.176378","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":830,"y":500,"wires":[]},{"id":"c3f799f7.6a6548","type":"inject","z":"7ec80727.176378","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5000","payloadType":"num","x":100,"y":500,"wires":[["6a003e2b.355e9"]]},{"id":"9e2b7dd1.4e5ce","type":"e-mail","z":"849dcb74.7ecd48","server":"smtp.mail.eu-west-1.awsapps.com","port":"465","secure":true,"tls":true,"name":"","dname":"Send Email","x":710,"y":240,"wires":[]},{"id":"9953d63b.3ddff8","type":"function","z":"849dcb74.7ecd48","name":"Transactional Emails","func":"\nmsg={\n    payload:msg.payload,\n    topic:\"Tekos Flow\",\n    to:msg.instance.login\n   \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":240,"wires":[["9e2b7dd1.4e5ce"]]},{"id":"b6a21363.fed41","type":"template","z":"849dcb74.7ecd48","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <style>\n        {{payload}}\n    </style>\n</head>\n\n\n<body>\n    <p>Hi, and welcome to Tekos Flow,</p>\n    <p>Here are you crendentials:</p>\n    <p>Flow url : https://{{subdomain}}.tekos.co</p>\n    <p>Login : {{instance.login}}</p>\n    <p>Password : {{instance.password}}</p>\n    <p>&nbsp;</p>\n    <p>Tekos Team</p>\n </body>","x":310,"y":240,"wires":[["9953d63b.3ddff8"]]},{"id":"a4769117.6a10a","type":"template","z":"849dcb74.7ecd48","name":"css","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"\n.logo {\nwith:30%;\nheight:30%;\n}\n.votrev{\n    font-size: 40px;\n    font-family: sans-serif;\n    color: #1E9F0D;\n}\n\n/* Hover cell effect! */","x":183.0000762939453,"y":241.9999942779541,"wires":[["b6a21363.fed41"]]},{"id":"9992c044.e3377","type":"template","z":"7ec80727.176378","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <style>\n    \n    </style>\n</head>\n<body>\n    <p>Hola Doddy se ha detectado una alerta</p>\n    <p>en el tia de 9 de octubre:</p>\n    <p>El ultimo valor de co2 medido fue:{{payload}}</p>\n </body>","x":530,"y":500,"wires":[["d2b4f17.88b211"]]},{"id":"3b6b6da9.c22c42","type":"inject","z":"1c2510af.e09ebf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":440,"wires":[["1317373b.e8ac89"]]},{"id":"3ca0a7e6.dfe3f8","type":"function","z":"1c2510af.e09ebf","name":"","func":"let co2 = msg.payload\n\nmsg.payload = {\n    name:\"local-E\",\n    valor : co2\n}\nreturn msg.payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":340,"wires":[["a71a804f.62b5f"]]},{"id":"b4e77420.5ab158","type":"mongodb out","z":"1c2510af.e09ebf","mongodb":"24c29a67.603486","name":"","collection":"pruebas","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":550,"y":160,"wires":[]},{"id":"a9325846.6cce18","type":"function","z":"1c2510af.e09ebf","name":"","func":"let co2 = msg.payload\n\nmsg.payload = {\n    name:\"local-K\",\n    valor : co2\n}\nreturn msg.payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":160,"wires":[["b4e77420.5ab158"]]},{"id":"a71a804f.62b5f","type":"mongodb out","z":"1c2510af.e09ebf","mongodb":"24c29a67.603486","name":"","collection":"pruebas","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":550,"y":340,"wires":[]}]